<form [formGroup]="singUpForm" (ngSubmit)="login()">
    <input [formControl]="emailControl" >
    
    <div [formGroupName]="'password'">
        <input type="password" [formControl]="passwordControl">
        <input type="password" formControlName="repeatPassword">

        <span *ngIf="singUpForm.controls.password.invalid">
            {{singUpForm.controls.password.errors | json}}
        </span>
    </div>

    <input formControlName="name">

    <p>
        Your fav fruits
    </p>

    <div [formGroupName]="'fruits'">
        <div *ngFor="let fruitControl of singUpForm.controls.fruits.controls" >
            <input [class.invalid]="fruitControl.touched && fruitControl.invalid" [formControl]="fruitControl" />
        </div>
    </div>

    <app-field>
        <input [formControl]="emailControl">
        <app-error *ngIf="emailControl.errors?.['required']">{{emailControl.errors?.['required'].message}}</app-error>
        <app-error *ngIf="emailControl.errors?.['email']">{{emailControl.errors?.['email'].message}}</app-error>
    </app-field>

    <pre>
        {{emailControl.errors | json}} 
    </pre>

    <div>
        <button (click)="addFruit()">Add new fav</button>
    </div>
    

    <button>
        Log in
    </button>
    <button type="reset">
        Reset
    </button>
</form>

<button (click)="randomEmail()">
    Randomize
</button>

<pre>
    {{singUpForm.value | json}}
    <div></div>
    <!-- {{passwordControl.value}} -->
</pre>
